.login {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.h1 {
    color: rgb(22, 216, 216);
}

.logForm {
    position: absolute;
    z-index: 3;
    width: 400px;
    height: 500px;
    color: rgb(0, 0, 0);
    background-color: rgba(51, 51, 51, 0.329);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;

}



p {
    color: rgb(255, 0, 64);
}

.form1 {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.h1 {
    text-align: center;

}

.label {
    width: 300px;
    height: 36px;
    background-color: #ffffff;
    backdrop-filter: filter(12px);
    opacity: 0.8;

}

.btn {
    width: 300px;
    height: 40px;
    background-color: rgb(28, 149, 214);
    border-radius: 5px;
    color: #ffffff;
    border: none;
}

.circle {
    left: 27%;
    position: absolute;
    z-index: 1;

    width: 20%;
    border-radius: 50%;
    aspect-ratio: 1/1;

    animation-delay: -2s;
}

.circle::after {
    content: '';
    right: 6%;
    position: absolute;
    z-index: 1;
    background-color: rgb(248, 93, 4);
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transform: translate(20%, 100%);
    animation: circleAround 5s linear infinite reverse;
}

.circle::before {
    content: '';

    top: 48%;
    left: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgb(7, 255, 255);
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transform: translate(20%, 100%);
    animation: circleAround 7s linear infinite reverse;
    animation-delay: -3s;
}

@keyframes circleAround {
    from {
        transform: rotate(0deg) translateX(50px) rotate(0deg);
    }

    to {
        transform: rotate(-360deg) translateX(50px) rotate(360deg);
    }

}

.SlideIn {
    animation: SlideIn 2s forwards
}

@keyframes SlideIn {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(16px);
    }

    100% {
        transform: translateY(0);
        opacity: 0;
    }

}